In [1]:
import pandas as pd
import os

In [2]:
csv_files = [f for f in os.listdir() if ".csv" in f]
rnn_files = [f for f in csv_files if 'GRU' in f or 'LSTM' in f]
rnn_files

['GRU_4_SA_Neutral_Labeled_News.csv', 'LSTM_4_SA_neutral_labeled_news.csv']

In [3]:
data = pd.concat([pd.read_csv(f_csv) for f_csv in rnn_files])[['text','source']]
data

                                                    text         source
0      यदि तपाईं मधुमेहबाट बच्न चिया, कफी आदिमा चिनीक...  ekantipur.csv
1      युरोपमा गरिएको एउटा अध्ययनले दाँत सफा गर्ने र ...  ekantipur.csv
2      नेपाली भान्सामा प्रयोग हुने सुगन्धित धनियाँ पा...  ekantipur.csv
3      अन्य मौसमको तुलनामा जाडोमा चायाले धेरै मानिसला...  ekantipur.csv
4      विश्व स्वास्थ्य सङ्गठनको आंँकडा अनुसार विश्वका...  ekantipur.csv
...                                                  ...            ...
20982         कोरोनाका कारण विश्वभर ६०० पत्रकारको मृत्यु  ratopati2.csv
20983                कोरोना बिमा : २५ सयको निवेदन फिर्ता  ratopati2.csv
20984  कोरोनाको नेगेटिभ रिपोर्ट बिना बेलायतमा ‘नो इन्...  ratopati2.csv
20985        कोरोना थामिएको छैन, भारतमा बर्ड फ्लूको आतंक  ratopati2.csv
20986  कोरोनासँगै बर्ड फ्लुुको त्रास, एकै ल्याबमा मान...  ratopati2.csv

[41482 rows x 2 columns]

In [4]:
rnn_duplicates = data[data.duplicated()]
rnn_duplicates

                                                    text         source
0      यदि तपाईं मधुमेहबाट बच्न चिया, कफी आदिमा चिनीक...  ekantipur.csv
1      युरोपमा गरिएको एउटा अध्ययनले दाँत सफा गर्ने र ...  ekantipur.csv
2      नेपाली भान्सामा प्रयोग हुने सुगन्धित धनियाँ पा...  ekantipur.csv
3      अन्य मौसमको तुलनामा जाडोमा चायाले धेरै मानिसला...  ekantipur.csv
4      विश्व स्वास्थ्य सङ्गठनको आंँकडा अनुसार विश्वका...  ekantipur.csv
...                                                  ...            ...
20981  कोरोनाबाट जोगाउनका लागि थप दुई जीवनरक्षक औषधी ...  ratopati2.csv
20982         कोरोनाका कारण विश्वभर ६०० पत्रकारको मृत्यु  ratopati2.csv
20983                कोरोना बिमा : २५ सयको निवेदन फिर्ता  ratopati2.csv
20985        कोरोना थामिएको छैन, भारतमा बर्ड फ्लूको आतंक  ratopati2.csv
20986  कोरोनासँगै बर्ड फ्लुुको त्रास, एकै ल्याबमा मान...  ratopati2.csv

[20249 rows x 2 columns]

In [5]:
other_files = [f for f in csv_files if 'Conv' in f or 'MLP' in f]
other_files

['Conv_4_SA_neutral_labeled_news.csv', 'MLP_4_SA_neutral_labeled_news.csv']

In [6]:
data = pd.concat([pd.read_csv(f_csv) for f_csv in other_files])[['text']]
other_duplicates = data[data.duplicated()]
other_duplicates

                                                    text
0      यदि तपाईं मधुमेहबाट बच्न चिया, कफी आदिमा चिनीक...
1      युरोपमा गरिएको एउटा अध्ययनले दाँत सफा गर्ने र ...
2      नेपाली भान्सामा प्रयोग हुने सुगन्धित धनियाँ पा...
3      अन्य मौसमको तुलनामा जाडोमा चायाले धेरै मानिसला...
4      विश्व स्वास्थ्य सङ्गठनको आंँकडा अनुसार विश्वका...
...                                                  ...
10754         कोरोनाका कारण विश्वभर ६०० पत्रकारको मृत्यु
10755                कोरोना बिमा : २५ सयको निवेदन फिर्ता
10756  कोरोनाको नेगेटिभ रिपोर्ट बिना बेलायतमा ‘नो इन्...
10757        कोरोना थामिएको छैन, भारतमा बर्ड फ्लूको आतंक
10758  कोरोनासँगै बर्ड फ्लुुको त्रास, एकै ल्याबमा मान...

[10083 rows x 1 columns]

In [8]:
data = pd.concat([rnn_duplicates,other_duplicates])
all_dup = data[data.duplicated()]
all_dup

Empty DataFrame
Columns: [text, source]
Index: []