In [1]:
import datasets

data = datasets.load_dataset('raygx/NepCov19TweetsPlus')

Found cached dataset parquet (C:/Users/Dell/.cache/huggingface/datasets/raygx___parquet/raygx--NepCov19TweetsPlus-46f98dd56864ead2/0.0.0/2a3b91fbd88a2c90d1dbbb32b460cf621d31bd5b05b934492fdef7d8d6f236ec)

  0%|          | 0/1 [00:00<?, ?it/s]

In [2]:
import pandas as pd

data = pd.DataFrame(data['train'])
data

       Sentiment                                          Sentences
0             -1  अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...
1             -1  कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...
2              1  नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...
3              0                            कोभिड को खोप पनि लगाइयो
4             -1  अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...
...          ...                                                ...
41536          0          कोरोना महामारीमा जीवन बीमाको अग्निपरीक्षा
41537          0               कोरोना महामारीले लाखौँको तरकारी नष्ट
41538          0  कोरोना महामारी रोकथाम र नियन्त्रणका लागि यस्तो...
41539          0  कोरोना महामारीको क्रममा अनुगमनमा निस्किए प्रदे...
41540          0           कोरोनाको महामारीबीच सकियो बिस्केट जात्रा

[41541 rows x 2 columns]

In [3]:
data = data.drop_duplicates(subset=['Sentences'])
data['Sentiment'].value_counts(), data.shape

( 1    14989
 -1    13598
  0    12954
 Name: Sentiment, dtype: int64,
 (41541, 2))

In [4]:
data['len'] = data.apply(lambda x: len(x['Sentences'].split(" ")),axis=1)
print(data['len'].value_counts())
data[['len']].describe()

8     2578
7     2481
9     2454
10    2134
6     1935
      ...
54       1
59       1
61       1
57       1
55       1
Name: len, Length: 61, dtype: int64

                len
count  41541.000000
mean      18.641126
std       10.962245
min        1.000000
25%        9.000000
50%       16.000000
75%       27.000000
max       61.000000

## Phase 1
**Removing rows with string length <= 5 words. Assumption is that they can't carry proper polarity**

In [5]:
print(data[data['len']==1]['len'].value_counts())
data[data['len']==1]

1    7
Name: len, dtype: int64

       Sentiment                                          Sentences  len
1318           0                                              कोभीड    1
6440           0                                             कौभीड़    1
26105         -1  काठमाडौं,कोभिड,सङ्क्रमण,नेपालमा,फैलन,नदिन,सरका...    1
32674         -1  दि,इकोनोमिस्टको,ताजा,अध्ययनले,चीनसँग,नजिकको,पर...    1
33422          0                                              कोभिड    1
34724          0                                                गाई    1
37550          0                                           कोभिडबाट    1

In [6]:
data = data[data['len']>1]
data[['len']].describe()

                len
count  41534.000000
mean      18.644099
std       10.960776
min        2.000000
25%        9.000000
50%       16.000000
75%       27.000000
max       61.000000

In [7]:
print(data[data['len']==2]['len'].value_counts())
data[data['len']==2]

2    52
Name: len, dtype: int64

       Sentiment           Sentences  len
2181           0  क्वारेन्टाइन कोभिड    2
4906           0         कोभीड गफगाफ    2
5858           0         झटारो कोभिड    2
6619           0     तथ्यांकमा कोभिड    2
7166           0          तलास कोभिड    2
7646           0       सन्दर्भ कोभिड    2
8046           0             कोभिड ब    2
9189           0    कोभिड एम्बुलेन्स    2
9345           0            कोभिड रे    2
9366           0     कोभिड एम्बुलेंस    2
10315         -1          कोभिड थपिए    2
13647          0      स्याङ्जा कोभिड    2
14303          0    आत्मनिर्भर कोभिड    2
18741          0           कोभिड बाट    2
20928          0            जय कोभिड    2
22334          0         कोभिड नेपाल    2
22390          0      कोभिड तथ्याङ्क    2
22913          0          हरहर कोभिड    2
26400         -1        कोभिड लकडाउन    2
26621         -1       महामारी कोभिड    2
27843          0        कोरोना कोभिड    2
28789          0         कविता कोभिड    2
30267          1         कोभिड नोभीड    2
30526         -1        कोभिड कोरोना    2
30777         -1       गुडमणीङ कोभीड    2
31069         -1       सिम्पटम कोभिड    2
31383          1         कोभिड अपडेट    2
31739          1         कोभिड नोभिड    2
33090          1       कोभिड जानकारी    2
33546          0         कोविड बाँचे    2
33991          0      कोभिडसँग लड्दै    2
34023          0       कोभिडको अनुभव    2
34102          0   कोभिडको सम्बन्धमा    2
34199          0        कोभिड आउँदैछ    2
34433          0             धेरै गफ    2
34607          0         द्रुत कोभिड    2
34759          0     तथ्यांकमा कोविड    2
34882          0    कोविड खोज्नुहोस्    2
34930          0  बगैचामा नजानुहोस्।    2
35117          0      कोभिडको अन्त्य    2
35125          0            कोभिड बि    2
35314          0     कोभिडको महामारी    2
35506          0           कोभिड पनि    2
35689          0       कोभिडको त्रास    2
36349          0      कोभिडको समस्या    2
36384          0        सान्जा कोभिड    2
36560          0     स्वतन्त्र कोविड    2
37484          0        कोरोना भाइरस    2
37806          0          पवनकाली सो    2
37840          0      कोविड तथ्याङ्क    2
37865          0          हरहर कोविड    2
37961          0      कोभिडको सन्देश    2

In [8]:
data = data[data['len']>2]
data[['len']].describe()

                len
count  41482.000000
mean      18.664963
std       10.951781
min        3.000000
25%        9.000000
50%       16.000000
75%       27.000000
max       61.000000

In [9]:
print(data[data['len']==3]['len'].value_counts())
data[data['len']==3]

3    191
Name: len, dtype: int64

       Sentiment                        Sentences  len
311            0         जन्मदिनको शुभकामना कोभिड    3
1883           0                  कोभिड संग लड्दै    3
2088           0                   कोभिड को अनुभव    3
2156           0                      कोभिड मा छठ    3
2208          -1              थपिए कोभिड संक्रमित    3
...          ...                              ...  ...
39400          0                मास्क अभियान सुरु    3
39470          0              कोभिडको जोखिम कायमै    3
39686          0      ‘कोभिड-१९ कथाहरु’ सार्वजनिक    3
40723          0                फेरि बढ्दैछ कोभिड    3
40925          0  अणु–परमाणुभन्दा कोभिड–१९ खतरनाक    3

[191 rows x 3 columns]

In [10]:
data = data[data['len']>5]
data[['len']].describe()

                len
count  39432.000000
mean      19.401451
std       10.732122
min        6.000000
25%       10.000000
50%       17.000000
75%       28.000000
max       61.000000

In [11]:
data['Sentiment'].value_counts(), data.shape

( 1    14508
 -1    13051
  0    11873
 Name: Sentiment, dtype: int64,
 (39432, 3))

In [12]:
def pushToHub(data,dataset_name = 'raygx/NepCov19TweetsPlus2',token = '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'):
    data = datasets.Dataset.from_pandas(data)
    data = data.remove_columns('__index_level_0__')
    data = data.remove_columns('len')
    print(data)
    
    # login require python > 3.9 
    from huggingface_hub import login
    login(token)

    data.push_to_hub(dataset_name)
    
# pushToHub(data)

# Phase 2
**Sentence Replication**

In [13]:
### Replication of short sentences instead of removing them
def sentenceReplicator(row):
    tlen = row['len']
    
    if tlen < 5:
        row['Sentences'] = row['Sentences'] + " [SEP] " + row['Sentences'] + " [SEP] " + row['Sentences'] 
    else:
        row['Sentences'] = row['Sentences'] + " [SEP] " + row['Sentences']
    
    return row['Sentences']    


data['Sentences'] = data.apply(lambda x: x['Sentences'] if x['len']>9 else sentenceReplicator(x), axis=1)

In [14]:
data['len'] = data.apply(lambda x: len(x['Sentences'].split(" ")),axis=1)
print(data['len'].value_counts())
data.describe() , data.shape

17    3530
15    3449
19    3433
13    3154
10    2134
11    1818
12    1456
29    1398
27    1362
30    1317
21    1008
20     985
14     974
18     963
16     929
22     889
23     862
25     803
24     780
28     733
26     715
31     636
32     612
34     593
33     586
35     585
36     549
37     515
38     466
39     452
40     362
41     316
42     265
43     217
44     162
45     128
46      91
48      48
47      44
50      37
49      27
51      14
52      13
53       8
56       3
58       3
60       3
54       1
59       1
61       1
57       1
55       1
Name: len, dtype: int64

(          Sentiment           len
 count  39432.000000  39432.000000
 mean       0.036950     21.459043
 std        0.835196      8.991056
 min       -1.000000     10.000000
 25%       -1.000000     15.000000
 50%        0.000000     19.000000
 75%        1.000000     28.000000
 max        1.000000     61.000000,
 (39432, 3))

# Phase 3
**Sentence Duplication**

In [23]:
### Experiment: duplicating merged data for class label 0 (neutral)
t = data['train'].filter(lambda x: x['label']==0).select(range(1000))
append_text = datasets.Dataset.from_dict({'text':[t[i]['text'] + " - " + t[i+1]['text'] for i in range(1000) if i%2 == 0],
                                            "label":[0 for i in range(500)]
                                            })

data['train'] = datasets.concatenate_datasets([data['train'],append_text])
data['train'].filter(lambda x: x['label']==0)

       Sentiment                                          Sentences  len
0             -1  अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...   19
1             -1  कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...   18
2              1  नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...   20
4             -1  अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...   12
5             -1  गण्डकी प्रदेश सरकारले कोभिड बाट प्रभावीतहरुको ...   32
...          ...                                                ...  ...
41533          0  कोरोना महामारी : अनिच्छुक गर्भधारण बढ्यो र सुर...   10
41534          0  कोरोना महामारीका बीच खुले अर्बाैं लगानीका होटल...   15
41535          0  जर्मन चान्सलर मर्केलको विश्व नेताहरुलाई सन्देश...   11
41538          0  कोरोना महामारी रोकथाम र नियन्त्रणका लागि यस्तो...   10
41539          0  कोरोना महामारीको क्रममा अनुगमनमा निस्किए प्रदे...   15

[39432 rows x 3 columns]

# Final Phase
**Push To Hub**

In [15]:
pushToHub(data)

Dataset({
    features: ['Sentiment', 'Sentences'],
    num_rows: 39432
})
Token will not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid.
Your token has been saved to C:\Users\Dell\.cache\huggingface\token
Login successful

Pushing dataset shards to the dataset hub:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/40 [00:00<?, ?ba/s]

Upload 1 LFS files:   0%|          | 0/1 [00:00<?, ?it/s]

Deleting unused files from dataset repository:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading metadata:   0%|          | 0.00/406 [00:00<?, ?B/s]

Updating downloaded metadata with the new split.